#sketchBox{
    width: 80vh;
    height :80vh;
    border: 5px solid green;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
}

.square{
    outline: 1px solid black;
    display: inline-block;
    background-color: rgb(151, 192, 201);
}

.filled{
    background-color: blueviolet;
}